/* Designing the view of the gallery */

* {
    margin: 0%;
    padding: 0%;
}

:root {
    --basic_background: #adadadad;
    --basic_white: white;
    --basic_border_radius: 25px;
    --border_color: #E0E0E0;
    --text_color: #989898;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--basic_background);
    overflow-x: hidden;
}

/* Heading styles */

#color_gallery_heading {
    text-align: center;
    transform: translateY(5rem);
    font-size: 2.75rem;
}

/* Color gallery styling */

#color_gallery_container {
    width: 45%;
    min-height: 125px;
    margin: auto;
    position: relative;
    top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color_wrapper {
    display: flex;
    margin: 1%;
    width: 8rem;
    height: 2.5rem;
    border-radius: var(--basic_border_radius);
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border_color);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.color_wrapper:hover {
    color: black;
    letter-spacing: 1.5px;
}

.color_html_text {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    width: 50%;
    overflow-x: hidden;
}

/* Add and Help container styling */


#add_and_help_container {
    width: 3rem;
    height: 7.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.add_help_class {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--basic_white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text_color);
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.add_help_class:hover {
    background-color: var(--text_color);
    color: black;
}

/* Help Box */

#help_info_container {
    font-family: 'Alegreya';
    font-size: 1rem;
    background-color: var(--basic_white);
    width: 19rem;
    min-height: 200px;
    position: fixed;
    top: 1rem;
    right: -20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--basic_border_radius);
    z-index: 1;
    transition: all 0.3s ease-in;
}

#help_info_container h4 {
    text-align: center;
    position: relative;
    bottom: 1.25rem;
}

#help_info_container ul {
    font-size: 0.8rem;
    position: relative;
    left: 0.5rem;
    bottom: 0.5rem;
}

#exit_help {
    transform: translate(8rem,0rem); 
    font-size: 1.2rem; 
    cursor: pointer;  
}

/* Remove color */

.remove_color {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(2.75rem, 0);
    letter-spacing: 0px;  
}

.remove_color:hover {
    font-weight: bolder;
    font-size: 1.25rem;
}

/* Color Input form */

form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    width: 15rem;
    height: 10rem;
    border-radius: var(--basic_border_radius);
    display: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0.15);
    transition: all 0.15s ease-out;
}

form h3 {
    text-align: center;
    position: relative;
    top: 0.80rem;
}

form #input_wrapper {
    width: 80%;
    position: relative;
    top: 2rem;
}

#input_wrapper input {
    width: 92.5%;
    height: 1.75rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--basic_background);
    padding-left: 7.5px;
    transition: all 0.2s ease-in;
}

#input_wrapper label {
    font-size: 0.85rem;
    position: relative;
    left: 2rem;
    bottom: 1.6rem;
    color: #adadad;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.2s ease-in;
}

#input_wrapper input:focus {
    border: 2px solid #a7a5a5;
}

#input_wrapper input:focus ~ label, 
#input_wrapper input:valid ~ label  {
    background-color: var(--basic_white);
    font-size: 0.7rem;
    color: black;
    left: 2.5rem;
    bottom: 2.6rem;
}

input[type=submit] {
    transform: translateY(3.5em);
    width: 6rem;
    height: 1.5rem;
    border-radius: var(--basic_border_radius);
    border: none;
    outline: none;
    background-color: #adadad;
    color: var(--basic_white);
    font-weight: bold;
    font-size: 0.75rem; 
    cursor: pointer;
    transition: all 0.2s ease-in;
}

input[type=submit]:hover {
    background-color: #949494;
}


#exit_input_form {
    position: absolute;
    transform: translate(5.5rem, 0.5rem);
    cursor: pointer;
}

/* Reset Page Button */

#reload_page {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--basic_white);
    border-radius: var(--basic_border_radius);
    width: 5rem;
    height: 2rem;
    font-weight: bold;
    color: var(--text_color);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#reload_page:hover {
    background-color: var(--text_color);
    color: black;
}